#three {
  position: relative;
  background: orange;
  top: 10px;
  left: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  border: 1px solid black;
  margin: 10px;
  background-color: blue;
  color: white;
}
